<div class="container-fluid">
    <div class="row" style="background-color: #FF9922;">
            <img class="logo-lan" src="../../assets/logo/Logo1 Blanco Cuadrado.png" alt="Aqui va el logo">
    </div>
</div>
<hr>

<!--  LANDING EMPRESA -->
<div class="container">
    <div class="row amarillo">
        <div class="col-6">
            <img class="img-lan" src="../../assets/landing/compras.jpg" alt="">
        </div>
        <div class="col-6">
            <h2 class="text-lan">Todo lo que necesitas...</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-lan">Lo puedes obtener desde tu celular</h2>
        </div>
        <div class="col-6">
            <img class="img-lan" src="../../assets/landing/celular.jpg" alt="">
        </div>
    </div>
</div>

<div class="container">
    <div class="row naranja">
        <div class="col-6 fot">
            <img class="img-lan" src="../../assets/landing/lugar.jpg" alt="">
        </div>
        <div class="col-6">
            <h2 class="text-lan">Hasta la puerta de tu casa</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row amarillo">
        <div class="col-6">
            <h2 class="text-lan">y tu eliges el metodo de pago!
                Compra ahora!</h2>
        </div>
        <div class="col-6">
            <img class="img-lan" src="../../assets/landing/pago.jpg" alt="">
        </div>
    </div>
</div>


<!--BOTON DE COMPRAR AHORA-->
<div class="container mb-5">
    <div class="row">
        <div class="col-12">
            <a href="/login" class="button btn-lan"><i class="fas fa-2x fa-arrow-circle-right" style="color: white; margin-right: 3px;"></i>Comprar Ahora!</a>
        </div>
    </div>
</div>



<!--FOOTER-->
<app-footer></app-footer>