<!--NAV BAR o MENU-->
<app-menu></app-menu>


<!--TABLA CON PEDIDOS HISTORICO-->
<div class="container mt-5">
    <div class="row">
        <H2>Pedidos Anteriores:</H2>
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">Empresa</th>
                      <th scope="col">Cliente</th>
                      <th scope="col">Direccion</th>
                      <th scope="col">Detalle</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Empresa 1</th>
                      <td>Lionel Messi</td>
                      <td>Res. Las Hadas</td>
                      <td>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="fas fa-info-circle"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                        <th scope="row">Empresa 1</th>
                        <td>Lionel Messi</td>
                        <td>Res. Las Hadas</td>
                        <td>
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="fas fa-info-circle"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Empresa 1</th>
                        <td>Lionel Messi</td>
                        <td>Res. Las Hadas</td>
                        <td>
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="fas fa-info-circle"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Empresa 1</th>
                        <td>Lionel Messi</td>
                        <td>Res. Las Hadas</td>
                        <td>
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="fas fa-info-circle"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                      <th scope="row">Empresa 1</th>
                      <td>Lionel Messi</td>
                      <td>Res. Las Hadas</td>
                      <td>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="fas fa-info-circle"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                        <th scope="row">Empresa 1</th>
                        <td>Lionel Messi</td>
                        <td>Res. Las Hadas</td>
                        <td>
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="fas fa-info-circle"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Empresa 1</th>
                        <td>Lionel Messi</td>
                        <td>Res. Las Hadas</td>
                        <td>
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="fas fa-info-circle"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Empresa 1</th>
                        <td>Lionel Messi</td>
                        <td>Res. Las Hadas</td>
                        <td>
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="fas fa-info-circle"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                      <th scope="row">Empresa 1</th>
                      <td>Lionel Messi</td>
                      <td>Res. Las Hadas</td>
                      <td>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="fas fa-info-circle"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                        <th scope="row">Empresa 1</th>
                        <td>Lionel Messi</td>
                        <td>Res. Las Hadas</td>
                        <td>
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="fas fa-info-circle"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Empresa 1</th>
                        <td>Lionel Messi</td>
                        <td>Res. Las Hadas</td>
                        <td>
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="fas fa-info-circle"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Empresa 1</th>
                        <td>Lionel Messi</td>
                        <td>Res. Las Hadas</td>
                        <td>
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="fas fa-info-circle"></i>
                            </button>
                        </td>
                    </tr>
                  </tbody>
            </table>
        </div>
    </div>
</div>


<!--MODAL PARA VER DETALLES DE PEDIDOS-->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalLabel">Detalle del pedido:</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
  
          <div class="container">
            <form action="">
                <h3 style="font-size: 0.90rem;">Cliente: Lionel Messi</h3>
                <h3 style="font-size: 0.90rem;">Direccion Cliente: Res. Las Hadas</h3><br>

                <h3 style="font-size: 0.90rem;">Empresa: Empresa X</h3>
                <h3 style="font-size: 0.90rem;">Direccion Empresa: Col. Tiloarque</h3><br>

                <h3 style="font-size: 0.90rem;">Producto X: 5</h3>
                <h3 style="font-size: 0.90rem;">Producto X: 5</h3><br>

                <h2 style="font-size: 0.90rem;">TOTAL: L.524</h2>
                <h3 style="font-size: 0.90rem;">Comision: L. 25</h3><br>

                <h3 style="font-size: 0.90rem;">Pago: Tarjeta de credito</h3>

            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  