<div id="fondo"></div>
<div class="card mt-4">
    <h4 class="card-header">Empresas</h4>
    <div class="card-body">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="../assets/image2.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Empresa 1</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo atque eveniet blanditiis omnis rem alias.</p>
                  <button class="btn" style="background-color: #FF9922; color: white;">Productos</button>
                  <button class="btn" style="background-color: #FF9922; color: white; margin-left: 110px;">Administrar</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="../assets/image2.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Empresa 2</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, unde.</p>
                  <button class="btn" style="background-color: #FF9922; color: white;">Productos</button>
                  <button class="btn" style="background-color: #FF9922; color: white; margin-left: 110px;">Administrar</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="../assets/image2.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Empresa 3</h5>
                  <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque unde vero, dignissimos ullam soluta sit fuga ex doloremque voluptas.</p>
                  <button class="btn" style="background-color: #FF9922; color: white;">Productos</button>
                  <button class="btn" style="background-color: #FF9922; color: white; margin-left: 110px;">Administrar</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="../assets/image2.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Empresa 4</h5>
                  <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus reprehenderit sint vitae vero necessitatibus aut.</p>
                  <button class="btn" style="background-color: #FF9922; color: white;">Productos</button>
                  <button class="btn" style="background-color: #FF9922; color: white; margin-left: 110px;">Administrar</button>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

<style>
    #fondo{
        background-color: #F5F7FA;
        position:absolute;
        width: 100%;
        height: 100%;
    }

    .card-img-top{
        width: 100%;
    }

    .card-text{
        height: 100px;
    }
</style>
