<!--NAV BAR o MENU-->
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #f0850c;">
  <div class="container-fluid">
    <img src="../../assets/logo/Logo1.png" alt="" style="width: 70px;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="home"><i class="fas fa-2x fa-home"></i>`  Inicio`</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="perfil"><i class="fas fa-2x fa-user"></i>`  Perfil`</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="pedidos"><i class="fas fa-2x fa-motorcycle"></i>`  Pedidos Asignados`</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="historial"><i class="fas fa-2x fa-clipboard-list"></i>`  Historial Pedidos`</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href=""><i class="fas fa-2x fa-times-circle"></i>`  Salir`</a>
        </li>
      </ul>
    </div>
  </div>
</nav>