<!--NAV BAR o MENU-->
<app-menu></app-menu>

<!--SALUDO-->
<div class="container mt-4 ml-5">
    <div class="row">
        <h1>Categoria X</h1><br>
    </div>
</div>

<!--  CARDS PARA CADA EMPRESA -->
<div class="container-fluid mt-2" style="display: block;">
    <div class="row">
        
        <div class="col-lg-3 col-md-4 col-6 mb-3">
                <div class="card shadow" style="background-color: rgb(252, 255, 226); color: rgb(170, 107, 12);" id="card">
                    <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/89E2/production/_106589253_amino.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h1 class="card-title">Empresa 1</h1>
                        <h5 class="card-text">Comida Mexicana</h5>
                        <a href="/productos" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
        </div>
        
        <div class="col-lg-3 col-md-4 col-6 mb-3">
            <div class="card shadow" style="background-color: rgb(252, 255, 226); color: rgb(170, 107, 12);" id="card">
                <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/89E2/production/_106589253_amino.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h1 class="card-title">Empresa 1</h1>
                    <h5 class="card-text">Comida Mexicana</h5>
                    <a href="/productos" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6 mb-3">
            <div class="card shadow" style="background-color: rgb(252, 255, 226); color: rgb(170, 107, 12);" id="card">
                <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/89E2/production/_106589253_amino.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h1 class="card-title">Empresa 1</h1>
                    <h5 class="card-text">Comida Mexicana</h5>
                    <a href="/productos" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6 mb-3">
            <div class="card shadow" style="background-color: rgb(252, 255, 226); color: rgb(170, 107, 12);" id="card">
                <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/89E2/production/_106589253_amino.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h1 class="card-title">Empresa 1</h1>
                    <h5 class="card-text">Comida Mexicana</h5>
                    <a href="/productos" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>

    </div>
</div>

<!--ICONO CARRITO-->

