<!--NAV BAR o MENU-->
<app-menu></app-menu>

<!--SALUDO-->
<div class="container mt-4 ml-5">
    <div class="row">
        <h1>Hola Usuario</h1><br>
        <h2>Que deseas hoy?</h2>
    </div>
</div>


<!--  CARDS PARA CADA CATEGORIA -->
<div class="container-fluid mt-2" style="display: block;">
    <div class="row">

        <div class="col-lg-3 col-md-4 col-6 mb-3">
            <a href="/empresas">
                <div class="card shadow" style="background-color: green; color: white;" id="card">
                    <div class="card-body">
                        <i class="fas fa-5x fa-hamburger"></i>
                        <hr>
                        <h4 class="card-title">Categoria 1</h4>
                        <div>84 Comercios</div>
                    </div>
                </div>
            </a>
        </div>
        
        

        <div class="col-lg-3 col-md-4 col-6 mb-3">
            <a href="/empresas">
            <div class="card shadow" style="background-color: rgb(128, 0, 107); color: white;" id="card">
                <div class="card-body">
                    <i class="fas fa-5x fa-hamburger"></i>
                    <hr>
                    <h4 class="card-title">Categoria 2</h4>
                    <div>84 Comercios</div>
                </div>
            </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-6 mb-3">
            <a href="/empresas">
            <div class="card shadow" style="background-color: rgb(128, 47, 0); color: white;" id="card">
                <div class="card-body">
                    <i class="fas fa-5x fa-hamburger"></i>
                    <hr>
                    <h4 class="card-title">Categoria 3</h4>
                    <div>84 Comercios</div>
                </div>
            </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-6 mb-3">
            <a href="/empresas">
            <div class="card shadow" style="background-color: rgb(0, 2, 128); color: white;" id="card">
                <div class="card-body">
                    <i class="fas fa-5x fa-hamburger"></i>
                    <hr>
                    <h4 class="card-title">Categoria 4</h4>
                    <div>84 Comercios</div>
                </div>
            </div>
        </a>
        </div>

    </div>
</div>

<!--ICONO CARRITO-->

